@using PointOfSaleSimpleVersionMvc.ViewHelpers

@{
    var success = TempData[TempDataKey.Success] as string;
    var error = TempData[TempDataKey.Error] as string;
}

<div class="toast-container position-fixed top-0 end-0 p-3">

    @if (!string.IsNullOrWhiteSpace(success))
    {
        <div class="toast align-items-center text-bg-success border-0 show" role="alert">
            <div class="d-flex">
                <div class="toast-body">
                    @success
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast"></button>
            </div>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(error))
    {
        <div class="toast align-items-center text-bg-danger border-0 show" role="alert">
            <div class="d-flex">
                <div class="toast-body">
                    @error
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast"></button>
            </div>
        </div>
    }

</div>
